<% include ../partials/header %>

<!--Go to top starts-->

<a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>
<a href="/quotes/new" id="add-quote2" class="btn-primary" ><i class="fas fa-pen-fancy"></i></a>

<!--Go to top ends-->
<!--Header Starts-->

    <div class="container-fluid header bg-primary" id="header-particles-js">
        <div class="row heading">
            <div class="col-12 ">
            <span class="q_day">
                <p class="typewrite" data-period="2000" data-type='[ "Welcome  to  Random  Quotes","Start writing , no matter what"]'>
                <span class="wrap"></span>
                </p>
            </span>
            </div>
        </div>
            <div class="card-columns">
                    <% quotes.slice(-3).forEach(function(quote) { %>
                        <div class="card" >
                            <div class="content">
                                <div class="content-overlay">
                                    <p>
                                        "<%=quote.body.substring(0,110)%>
                                        <% if(quote.body.length>110) { %>
                                            <a href="/quotes/<%= quote._id %> ">...</a>
                                        <% } %>"
                                    </p>
                                </div>
                                <img src="<%=quote.image %>" class="content-image card-img-top img-responsive" alt="...">
                            </div>
                            <span class="title "><p><%=quote.title%></p></span>
                            <div class="writer">
                                <a href="/users/<%=quote.author.id %>" class=" writer-image btn-primary btn-floating"><%=quote.author.firstname.substring(0,1).toUpperCase()+quote.author.lastname.substring(0,1).toUpperCase() %></a>
                                <span class="writer-name "><a href="/users/<%=quote.author.id %>"><%=quote.author.firstname.charAt(0).toUpperCase()+quote.author.firstname.slice(1)+" "+quote.author.lastname%></a></span>
                            </div>
                            <a href="/quotes/<%= quote._id %>" class="show_more ">Show more</a>
                        </div>
                    <% }) %>
                </div>
    </div>

<!--Header Ends-->



<!--Body Starts-->
   
    <div class="container-fluid main">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-12">
                <% if(noMatch !== null) { %>
                    <h3><%= noMatch %></h3>
                <% } %>
            </div>
        </div>
        <div class="card-columns">
            <% quotes.forEach(function(quote) { %>
                <div class="card" >
                    <div class="content">
                        <div class="content-overlay">
                            <p>
                                "<%=quote.body.substring(0,110)%>
                                <% if(quote.body.length>110) { %>
                                    <a href="/quotes/<%= quote._id %> ">...</a>
                                <% } %>"
                            </p>
                        </div>
                        <img src="<%=quote.image %>" class="content-image card-img-top img-responsive" alt="...">
                    </div>
                    <span class="title "><p><%=quote.title%></p></span>
                    <div class="writer">
                        <a href="/users/<%=quote.author.id %>" class=" writer-image btn-primary btn-floating"><%=quote.author.firstname.substring(0,1).toUpperCase()+quote.author.lastname.substring(0,1).toUpperCase() %></a>
                        <span class="writer-name "><a href="/users/<%=quote.author.id %>"><%=quote.author.firstname.charAt(0).toUpperCase()+quote.author.firstname.slice(1)+" "+quote.author.lastname%></a></span>
                    </div>
                    <a href="/quotes/<%= quote._id %>" class="show_more ">Show more</a>
                </div>
            <% }) %>
        </div>
    </div>

<!--Body Ends-->      


<!-- Modal for no quote starts -->

        <% if(noMatch !== null) { %>
            <div class="modal fade" tabindex="-1" role="dialog" id="error_modal">
                <div class="modal-dialog modal-dialog-centered" >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-center"><%= noMatch %></h5>
                    </div>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Got it</button>
                  </div>
                </div>
            </div> 
        <% } %>

<!-- Modal for no quote ends -->  


<% include ../partials/footer %>